/*
 * Author: Arthur Berman
 * URL: http://www.zigsfi.com
 */


p {
        line-height: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #0000ff;
}

.centered {
        text-align: center;
}

.right {
        text-align: right;

}

.left {
        text-align: left;
}

a {
        word-wrap: break-word;
        color: #00ffff;
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}


a:hover, a:focus {
        color: #aabbff;
        text-decoration: none;
        outline:1;
}

a:before, a:after {
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}

.nav {
        text-transform: uppercase;
        background-color: #15a0df;
        color: #ffffff;
}


.navlist {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
}


