/*
 * Author: Arthur Berman
 * URL: http://www.zigsfi.com
 */
 
 #Zigsfi > ul{
   display:none;
 }
 #Zigsfi:hover > ul {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: shloop;
  -webkit-animation-fill-mode: forwards;
     list-style:none;
   list-style-position:inside;
   margin:0;
   padding:0;

  display:inline;
 }
 #Zigsfi:hover > ul > li {
   display:inline;
   list-style:none;
   list-style-position:inside;
   margin:0;
   padding:0;
 }
 #Zigsfi:hover >ul >li > a {
   color:white;
   size:20px;
 }
body {
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        display:inline;
}
p {
        line-height: 28px;
        margin-top: 30px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
        color: #00bbff;
}
.name > a.explanation {
  margin-top:0px;
  margin-bottom:0px;
  font-size:15px;
  letter-spacing:0px;
  margin-left:3px;
  margin-right:13px;

  
}
.centered {
        text-align: center;
}

.right {
        text-align: right;
        float:right;

}

.left {
        text-align: left;
        float:left;
}

a {
        word-wrap: break-word;
        color: #0099ff;
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}


a:hover, a:focus {
        color:#eaeaea;
        text-decoration: none;
        outline:1;
}

a:before, a:after {
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}



.nav {
        float:right;
        text-transform: uppercase;
        color: #ffffff;
}

.nav > ul > li > a:hover {
        color: #000000;
}

.nav > ul > li > a {
        color: #ffffff;
}

.big {
        padding-top: 50px;
        padding-bottom: 50px;
}

.navlist > li {
        display: inline;
        padding-right: 100px;
}
.navlist {
        
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        
}

.name {
        float:left;
        padding-left:18%;
}

.page {
        float:left;

        margin-bottom:0px;
        padding-top:10px;
        padding-bottom:30%;
        border-bottom:0px;
        display:block;
        word-wrap:normal;

        
}
.page {
          background-color:#112233;
}
.name > a {
        color:white;
        font-weight:bold;
        text-decoration:none;
        letter-spacing:5px;
        font-size:30px;
        text-align: center;
        animation-duration: 3s;
        animationname: slidein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}



a:hover.animat {
        -webkit-animation-duration: 1s;
        -webkit-animation-name: shloop;
        -webkit-animation-fill-mode: forwards;

  
}

.subname {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: shloop;
  -webkit-animation-fill-mode: forwards;
  text-align: center;
  
}
.inline {
  display:inline;
}
.subname > a:hover {
  color:white;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes shloop {
        from {
                font-size: 2px;
        }
        to {
                font-size:20px;
                
                

        }
}
.realname {
 font-size:30px;
 color:
}


.header {
        float:left;
        clear:none;
        width:100%;
        display:inline;
        background-color: #15a0df;
        padding-top:1%;
        margin-top:0px;
        margin-left:0px;
}
h1 {
        display: inline;
        font-size: 30px;
        color: #11eeff;
}


.page > #coolstuff {
  color:white;
  float:right;
  width:45%;

}

.page > #IndexContent {
  float:left;
  color:blue;
  padding-left:10%;
  width:50%;
}
