/*
 * Author: Arthur Berman
 * URL: http://www.zigsfi.com
 */

p {
        line-height: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #0000ff;
}

.centered {
        text-align: center;
}

.right {
        text-align: right;

}

.left {
        text-align: left;
}

a {
        word-wrap: break-word;
        color: #00ffff;
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}


a:hover, a:focus {
        color: #ffffff;
        text-decoration: none;
        outline:1;
}

a:before, a:after {
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
}



.nav {
        float:right;
        text-transform: uppercase;
        color: #ffffff;
}

.nav > ul > li > a:hover {
        color: #000000;
}

.nav > ul > li > a {
        color: #ffffff;
}

.big {
        padding-top: 50px;
        padding-bottom: 100px;
}

.navlist > li {
        display: inline;
        padding-right: 100px;
}
.navlist {
        
        display: inline;
        list-style-type: none;
        padding-right: 20px;
}

.name {
        float:left;
        padding-left:5%;
        
}
.name > a {
        color:white;
        font-weight:bold;
        text-decoration:none;
        letter-spacing:2px;
        font-size:40px;
}

.header {
        float:left;
        clear:none;
        width:100%;
        display:inline;
        background-color: #15a0df;
        
        margin-top:0px;
        margin-left:0px;
}
h1 {
        display: inline;
        font-size: 30px;
        color: #11eeff;
}
