@import url(http://fonts.googleapis.com/css?family=Lato:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

p {
    color:#212121;
    font-size:1.5em;
    font-family: 'Gentium Book Basic', serif;
}

body {
    margin:0;
    padding:0;
    background-color:#eee;
}


a:hover {
    color: #3F51B5;
}
a {
    color: #0379a4;
}

@media (min-width: 768px) {
    .container {
        margin-top:2.5vh;
        margin-left:10vw;
        margin-right:10vw;
        transform:translateZ(-20px);

    }

    #resume {
        background:#f5f5f5;
        margin:5em;
        padding:1em;
        margin-top:10vh;
        z-index:100;
        transform:translateZ(120px);
        -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
        box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
    }
    #split {
        margin-top:70vh;
    }
}

@media (max-width: 768px) { 
    .container {
        margin-top:2.5vh;
        margin-left:2.5vw;
        margin-right:2.5vw;
    }
}
header {
    margin-top:0;
    padding-top:15vh;
    padding-bottom:5vh;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
#main_content {
    -webkit-font-smoothing: antialiased;
}


section img {
    max-width: 100%
}

.shadow {
    -webkit-box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
    -moz-box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
    box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
}
.header-shadow {
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
}
