@import url(http://fonts.googleapis.com/css?family=Lato:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

p {
    color:#212121;
    font-size:1em;
    font-family: 'Gentium Book Basic', sans-serif;
}

body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', serif;
    background-color:#3F51B5;
}


a:hover {
    color: #3F51B5;
}
a {
    color: #0379a4;
}

.container {
    margin-top:2.5vh;
    margin-left:20vw;
    margin-right:20vw;
}

header {
    margin-top:0;
    padding-top:5vh;
    padding-bottom:5vh;
    background-color:#303F9F;
}
#main_content {
    width: 100%;
    padding:2em;
    border-radius:1em;
    -webkit-font-smoothing: antialiased;
    background-color: #C5CAE9;
}
section img {
    max-width: 100%
}

.shadow {
    -webkit-box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
    -moz-box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
    box-shadow: 5px 5px 16px -2px rgba(74,74,74,1);
}
.header-shadow {
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,1);
}
