<!DOCTYPE html>

<html lang=en>
        <head>
                <title>Zigsfi</title>
                <link href="/static/css/main.css" rel="stylesheet">
        </head>
        <body>
        <div class="header nav big">
                <h1>Zigsfi</h1>
        
        </div>
        <div class="nav big"> <ul class="navlist">
                <li> <a href="http://www.xkcd.com">xkcd</a></li>
                <li><a href = "http://www.xkcd.com">Definitely not xkcd</a></li> 
                </ul>
        </div>
        {{content}}
        </body>
</html>
