<!DOCTYPE html>

<html lang=en>
        <head>
                <title>Zigsfi</title>
                <link href="/static/css/main.css" rel="stylesheet">
        </head>

        <body>
        <div class="header">
                <div id="Zigsfi" class="name big inline">
                        <a class="" href="index.html">Zigsfi</a>

                <ul><li>
                        </li></ul>

                
                </div>
                <div class="nav big right"> <ul class="navlist">
                        <li> <a href="/projects">Projects</a></li>
                        <li><a href = "/resume.pdf">Resume</a></li> 
                        <li><a href = "/history">History</a></li>
                        </ul>
                </div>
        </div>
        <div class="page">{{content}} </div>
        </body>
</html>
