<!DOCTYPE html>

<html lang=en>
        <head>
                <title>Zigsfi</title>
                <link href="/static/css/main.css" rel="stylesheet">
                <script type="text/javascript">
                        function explain() {
                                var elem = document.getElementById("explanation");
                                elem.innerHTML = 
                                "Zigsfi is a letter substitution cypher on my name. <a href="more.html">more...<//a>";
                        } </script>
        </head>

        <body>
        <div class="header">
                <div class="name big">
                        <a class="" href="index.html">Zigsfi</a>
                        <br>
                        <a class="explanation left" href="javascript:void(0)"
                        onclick="explain();">Explanation</a>
                        <a class="explanation right" href="huh">world</a>
                        <br>
                        <div id="explanation"></div>
                
                </div>
                <div class="nav big right"> <ul class="navlist">
                        <li> <a href="http://www.xkcd.com">xkcd</a></li>
                        <li><a href = "http://www.xkcd.com">Definitely not xkcd</a></li> 
                        </ul>
                </div>
        </div>
        <div class="page">{{content}} </div>
        </body>
</html>
